@model Shop.Application.DTOs.Order.VerifyResultData
@{
    //Layout = "/Pages/Shared/Checkout_Layout.cshtml";
}

<!-- Start header-shopping -->
<header class="header-shopping dt-sl">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center pt-2">
                <div class="header-shopping-logo dt-sl">
                    <a href="#">
                        <img src="/img/logo.png" alt="" width="170">
                    </a>
                </div>
            </div>
            <div class="col-12 text-center">
                <ul class="checkout-steps">
                    <li>
                        <a href="#" class="active">
                            <span>اطلاعات ارسال</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="active">
                            <span>پرداخت</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="active">
                            <span>اتمام خرید و ارسال</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- End header-shopping -->
<main class="main-content dt-sl mt-4 mb-3">
    <div class="container main-container">

        <div class="row">
            <div class="cart-page-content col-12 px-0">
                <div class="checkout-alert dt-sn dt-sn--box mb-4">
                    <div class="circle-box-icon successful">
                        <i class="mdi mdi-close"></i>
                    </div>
                    <div class="checkout-alert-title">
                        <h4>
                            پرداخت سفارش ناموفق
                        </h4>
                    </div>
                    <div class="checkout-alert-content">
                        <p class="checkout-alert-content-success">
                            چنانچه طی این فرایند مبلغی از حساب شما کسر شده است، طی ۷۲ ساعت آینده به حساب شما باز خواهد گشت.
                        </p>
                    </div>
                </div>
                
            </div>


        </div>

    </div>
</main>





