@page
@model Shop.Web.Pages.Panel.ChangePasswordModel
@{
}
<main id="content" role="main">


    <div class="container">



            <div class="row">
                <partial name="Site/_PanelSideBar" />

                <div class="col-lg-9 order-lg-1">
                    <div class="pb-7 mb-7">
                        <!-- Title -->
                        <div class="panel panel-warning box shadow border">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <h6 class="title">

                                        تغییر کلمه عبور
                                        <i class=" fas fa-key Orange"></i>
                                    </h6>
                                </div><!-- /.panel-title -->
                                <div class="leftButtons ">
                                   
                                </div><!-- /.buttons-box -->
                            </div><!-- /.panel-heading -->
                            <div class="panel-body rtl" >
                                <form method="post" 
                                      data-ajax="true"
                                      data-ajax-method="POST"
                                      data-ajax-begin="OnLoading"
                                      data-ajax-complete="OnComplete">
                                   
                                    <div class="form-group round">
                                        <label>کلمه عبور فعلی</label><br />
                                        <small>در صورتی که تا به حال کلمه عبوری انتخاب نکرده اید به صورت پیشفرض (12345678) وارد نمایید</small>
                                        <input type="password" class="form-control" asp-for=Input.old id="old" value="">
                                    </div>
                                    <div class="form-group round">
                                        <label>کلمه عبور جدید</label>
                                        <input  type="password" class="form-control" asp-for="Input.newPassword" id="New" value="">
                                    </div>
                                    <div class="form-group round">
                                        <label>تکرار کلمه عبور </label>
                                        <input  type="password" class="form-control" asp-for=Input.renewPassword id="reNew" value="">
                                    </div>
                                    <div class="form-group round">
                                        <button type="submit" class="btn btn-info btn-round btn-block mb-2">
                                            تغییر کلمه عبور
                                            <div class="paper-ripple">
                                                <div class="paper-ripple__background"></div>
                                                <div class="paper-ripple__waves"></div>
                                            </div>
                                        </button>
                                    </div>
                                </form>
                            </div><!-- /.panel-body -->
                        </div>
                        <!-- End Title -->




                    </div>
                </div>
            </div>

    </div>
</main>
@section Styles {
    <link href="~/Shared/Lib/Shared/Toast/Toast.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/Shared/Lib/Shared/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Shared/Lib/Shared/Toast/Toast.js"></script>
    <script src="~/Shared/Lib/Shared/Toast/MyToast.js"></script>
    <script src="~/Admin/js/pages/swal.js"></script>
    <script src="~/Shared/Lib/Site/Panel/ChangePassword.js"></script>

}