
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <title>مدیریت</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="پنل مدیریت  ">
    <meta name="keywords" content="digichad">
    <link rel="shortcut icon" href="~/favicon.ico">

    <!-- BEGIN CSS -->
    <partial name="Admin/_Css"></partial>
    @await RenderSectionAsync("Styles",required:false);
    <!-- END CSS -->


</head>
<body class="fix-header active-ripple theme-blue">
    <!-- BEGIN LOEADING -->
    <div id="loader">
        <div class="spinner"></div>
    </div><!-- /loader -->
    <!-- END LOEADING -->
    <!-- BEGIN WRAPPER -->
    <div class="fixed-modal-bg"></div>
    
    <div class="modal-page shadow">
        @RenderBody()
    </div><!-- /.modal-page -->
    <!-- END WRAPPER -->
    <!-- BEGIN JS -->
    <partial name="Admin/_Js"></partial>

    <!-- BEGIN PAGE JAVASCRIPT -->
    <script src="~/Admin/js/pages/login.js"></script>
    @await RenderSectionAsync("Scripts",required:false);
    <!-- END PAGE JAVASCRIPT -->

</body>
</html>