@page
@model Shop.Web.Pages.Admin.Categuries.IndexModel
@{
    Layout = "Shared/Admin_Layout";
}

<div class="row">
    <div class="col-lg-12">
        <div class="portlet box border shadow">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h3 class="title">
                        <i class="icon-settings"></i>
                        لیست دسته بندی محصولات
                    </h3>
                </div>
                <div class="buttons-box">
                    <button class="btn btn-sm btn-success btn-round hover-green" onclick="CleanItem()" data-bs-toggle="modal" data-bs-target="#AddOrEditCateguryModal">
                        <i class="icon-plus"></i>
                        <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                        <div class="paper-ripple"><div class="paper-ripple__background" style="opacity: 0.0088;"></div><div class="paper-ripple__waves"></div></div>
                    </button>

                </div>
                <div id="CreateUser" class="modal fade" role="dialog" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                                <h4 class="modal-title">افزودن دسته بندی</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p class="text-center m-t-30 m-b-40" id="image">

                                        </p>
                                    </div>

                                    <div class="col-lg-12">
                                    </div><!-- /col-lg-12 -->
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body" style="">
                <div class="table-responsive">
                    <div class="form-group d-flex">

                        <input id="FilterInput" type="text" class="form-control w-50" placeholder="جستجوی دسته بندی" />
                        <button onclick="Filter()" class="btn btn-blue text-white font-weight-bold">فیلتر</button>

                        @*<select class="form-control w-25" placeholder="جستجوی کاربران">
                        </select>
                        <button class="btn btn-orange text-white font-weight-bold">فیلتر دسترسی ها</button>*@
                    </div>
                    <table class="table table-bordered table-hover table-striped" id="data-table">
                        
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            </tr>

                        </tbody>

                    </table>

                </div>
                <div class="d-flex mb-2" id="paging">
                </div>
            </div><!-- /.portlet-body -->
        </div><!-- /.portlet -->


    </div>
</div>
<!--FORMS-->
<form method="post" id="GetDataForm" asp-page-handler="Data"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-begin="OnLoadingData"
      data-ajax-complete="OnCompleteData"
      data-ajax-failure="OnErrorData">
    <input type="hidden" asp-for="Parameter.Filter" id="Parameter_Filter" />
    
    <input type="hidden" asp-for="Parameter.CurrentPage" id="Parameter_CurrentPage" />
</form>
<form method="post" id="GetCateguryForm" asp-page-handler="Categury"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-begin="OnLoadingGetItem"
      data-ajax-complete="OnCompleteGetItem"
      data-ajax-failure="OnErrorGetItem">
    <input type="hidden" asp-for="categuryId" class="categuryId" />
</form>
<form method="post" id="GetAllCatForm" asp-page-handler="GetAllCateguries"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-complete="OnCompleteGetAllCat">
   
    <input type="hidden" asp-for="FilterCat" id="FilterCatForm" />
</form>
<form method="post" id="DeleteCateguryForm" asp-page-handler="DeleteCategury"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-complete="OnCompleteDeleteItem">
    <input type="hidden" asp-for="categuryId" class="categuryId" />
</form>
<!--modal-->
<!--Start Add Or Edit Categury -->
<div id="AddOrEditCateguryModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">اطلاعات دسته بندی</h4>

            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <form method="post" asp-page-handler="EditOrCreate" class="form-horizontal" role="form" enctype="multipart/form-data"
                          data-ajax="true"
                          data-ajax-method="POST"
                          data-ajax-begin="OnLoadingAE"
                          data-ajax-complete="OnCompleteAE"
                          data-ajax-failure="OnErrorAE">

                        <input type="hidden" asp-for="CateguryDto.GroupId" id="CateguryDto_GroupId" />
                        <input type="hidden" id="CateguryDto_IsParnet" />
                        

                        <input type="text" asp-for="CateguryDto.ParentId" id="CateguryDto_ParentId" />


                        <div class="col-md-12 col-lg-12 m-auto m-b-10">
                            <label> عنوان دسته بندی</label>
                            <div class="form-group round">
                                <input asp-for="CateguryDto.GroupTitle" id="CateguryDto_GroupTitle" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 m-auto m-b-10">
                            <label>عنوان لاتین</label>
                            <div class="form-group round">
                                <input asp-for="CateguryDto.LatinGroupTitle" id="CateguryDto_LatinGroupTitle" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 m-auto m-b-10 d-flex">

                            <label for="base" class="p-2"> دسته بندی اصلی</label>
                            <div class="form-group round p-2">
                                <input id="base" name="IsParent"  type="radio" value="true">
                            </div>
                            
                            <label for="nobase" class="p-2">زیر دسته بندی</label>
                            <div class="form-group round p-2">
                                <input id="nobase" name="IsParent"  type="radio" value="false">
                            </div>
                           
                        </div>
                        
                        <div class="form-group">
                            <label>جستجوی دسته بندی</label>
                            <div class="input-group">
                                <input type="text" class="form-control " id="SearchCatText" placeholder="عنوان دسته بندی را جستجو نمایید">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" onclick="SearchCat()" type="button">جستجو<div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div></button>
                                </span>
                            </div>
                        </div>


                        <label>دسته بندی اصلی</label>
                        <div class="form-group" id="cats">
                            
                        </div>


                        <div class="col-md-6 col-lg-6 m-auto m-b-10">
                            <label>ستون نمایش در فهرست</label>
                            <div class="form-group round">
                                <select class="form-control" asp-for="CateguryDto.Row" id="CateguryDto_Row">
                                    <option value="1">ستون اول</option>
                                    <option value="2">ستون دوم</option>
                                    <option value="3">ستون سوم</option>
                                    <option value="4">ستون چهارم</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                   
                                </select>
                                @*<input asp-for="ProductDto.TypeId" id="ProductDto_TypeId" type="text" class="form-control">*@
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 m-auto m-b-10 d-flex">

                            <label for="showMenu" class="p-2">نمایش در منو</label>
                            <div class="form-group round p-2">
                                <input id="showMenu" name="ShowMenu" type="radio" value="true">
                            </div>

                            <label for="notShowMenu" class="p-2">عدم نمایش در منو</label>
                            <div class="form-group round p-2">
                                <input id="notShowMenu" name="ShowMenu" type="radio" value="false">
                            </div>

                        </div>
                        <div class="col-md-8 col-lg-6 m-auto m-b-50">

                            <button type="submit" class="btn btn-info btn-round btn-block mb-2">
                                ثبت
                                <div class="paper-ripple">
                                    <div class="paper-ripple__background"></div>
                                    <div class="paper-ripple__waves"></div>
                                </div>
                            </button>
                        </div><!-- /.col-md-8 -->
                    </form>
                </div><!-- /col-lg-12 -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
            </div>
        </div>
    </div>
</div>
<!--End Add Or Edit Categury -->

<div id="countdown"></div>




@section Styles {
    <link href="~/shared/lib/shared/toast/toast.css" rel="stylesheet" />
    <link href="~/Admin/plugins/data-table/DataTables-1.10.16/css/jquery.dataTables.css" rel="stylesheet">
}
@section Scripts {
    <script src="~/shared/lib/shared/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/shared/lib/shared/toast/toast.js"></script>
    <script src="~/shared/lib/shared/toast/mytoast.js"></script>

    <script src="~/Admin/plugins/data-table/js/jquery.dataTables.min.js"></script>
    <script src="~/shared/lib/shared/jquery-ajax-unobtrusive/3.2.6/separate.js"></script>

    <script src="~/shared/lib/admin/Categuries/Index.js"></script>


   

}