@page
@model Shop.Web.Pages.Admin.Products.CreateOrUpdateAjax.CateguriesModel
@{
    Layout = null;
}


<div class="portlet box border shadow">
    <div class="portlet-heading">
        <div class="portlet-title">
            <h3 class="title">
                <i class="icon-folder Orange"></i>
                دسته بندی محصول
            </h3>
            <div class="buttons-box" >
                @if (Model.productId != 0)
                {
                    <button class='btn btn-sm btn-success btn-round hover-green' onclick='showAddCatModal()' data-bs-toggle='modal' data-bs-target='#AddCateguryModal'><i class='icon-plus'></i></button>
                }
                else
                {
                    <small class='Orange font-weight-bold'>ذخیره محصول الزامیست</small>
                }
               
            </div>
        </div><!-- /.portlet-title -->

    </div><!-- /.portlet-heading -->
    <div >
        <div class="portlet-body">
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th><i class="icon-energy"></i></th>
                                <th>دسته بندی</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Categuries)
                            {
                                <tr>
                                    @if (item.IsParnet)
                                    {
                                        <td colspan='2'>@item.GroupTitle</td>
                                    }
                                    else
                                    {
                                        <td>@item.GroupTitle</td>
                                    }
                                    <td><button onclick='DeleteCategury(@item.Id)' class='btn btn-danger'>حذف</button></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>



            </div><!-- /.portlet-body -->

        </div>
    </div>
</div><!-- /.portlet -->





