@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Parstech.Shop.Web.Pages.CompanyVisionModel
@{
}
@Html.AntiForgeryToken()
<main id="content" role="main">
    <div class="row m-2">
        <div class="col-md-6 bg-gray-7  col-lg-12 col-xl-12  mb-md-0 border-width-2 border-color-1 productImageBackRadius">





            <div class="productImage m-3">
                <h3>چشم انداز شرکت پارس تکنولوژی سداد</h3>
                <h2 class="font-weight-bold">
                    استمرار پذیری کسب و کار در جریان تحول دیجیتال
                </h2>
            </div>

        </div>

       
        <div class="rtl col-md-6 bg-gray-7  col-lg-12 col-xl-12 mt-2 mb-md-0 border-width-2 border-color-1 productImageBackRadius">
            <div class="p-5">
                <p class="font-size-17" style="text-align: justify;">
                    این چشم انداز ، تعهد شرکت پارس تکنولوژی سداد به پیشگامی در ایجاد زیرساحت ها و خدمات پشتیبانی لازم برای توانمندسازی کسب و کترها در مسیر تحول دیجیتال را بیان می کند. این رویکرد با یهره گیری از تکنولوژی های پیشرفته و توسعه مدل های عملیاتی استوار است تا سازمان ها در تسریع،استقرار و بهره برداری از فرصت های دیجیتال کمک کند.
                </p>
                <h5 class="font-size-21 font-weight-bold">
                    ماموریت شرکت
                </h5>
                <p class="font-size-17">
                    1-خلق تجربه ای دلچسب و تکرارپذیر برای مشتریان،با تمرکز بر کیفیت مداوم و روابط پایدار. <br />
                    2-نوآوری چابک در توسعه محصولات با استفاده از هوش مصنوعی و رویکرد های پیشرقته. <br />
                    3-متنوع سازی خدماتو کانال های درآمدی برای دستیابی به رشد پایدار و کاهش وابستگی به جریان های سنتی. <br />
                    4-تبدیل شدن به یکی از برترین پیشگامان جریان تحول دیجیتال در حوزه های دانش بنیان. <br />
                    5-ورود به بازار سرمایه به عنوان ابزاری برا توسعه و تقویت موقعیت رقابتی شرکت. <br />
                   
                </p>

                <h5 class="font-size-21 font-weight-bold">
                    معرفی ارزش های سازمان
                </h5>
                <p class="font-size-17">
                    مشتری مداری <br />
                    توسعه تیمی و فردی <br />
                    صداقت و شفافیت <br />
                    نوآوری و بهبود مستمر
                   
                    
                </p>

                <h5 class="font-size-21 font-weight-bold">
                    اهداف کلان
                </h5>
                <p class="font-size-17">
                    <span class="font-weight-bold">ارتقا کیفیت و نوآوری در خدمات و محصولات:</span>شامل بهلود کیقیت خدمات، توسعه فناوری های نوآورانه و محصولات مطابق با نیاز های مشتریان،بر مبنای ارزش های:
                </p>
                <p class="font-size-17">
                    نوآوری و بهبود مستمر<br />
                    مشتری مداری
                </p>
                <p class="font-size-17">
                    <span class="font-weight-bold">افزایش درآمد با تکیه بر بهبود خدمات و شناخت بازار های جدید:</span>شامل افزایش سهم بازار داخلی و بین المللی و ایجاد شراکت های کلیدی برای رشد و نوآوری، بر مبنای ارزش های:
                </p>
                <p class="font-size-17">
                    نوآوری و بهبود مستمر<br />
                    مشتری مداری
                </p>

                <p class="font-size-17">
                    <span class="font-weight-bold">بهینه سازی سرمایه انسانی و ارتقا سطح توانمندی نیروی انسانی:</span>شامل جذب و نکهداشت استهداد ها ، بهره وری بیشتر از سرمایه انسانی و دارای های سازمان،بر مبنای ارزش های:
                </p>
                <p class="font-size-17">
                    صداقت و شفافیت<br />
                    نوآوری و بهبود مستمر<br />
                    مشتری مداری
                </p>
            </div>

        </div>
    </div>


</main>






@section Scripts {
    <script src="~/shared/lib/shared/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/shared/lib/Site/Landing/Index.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#btnGet").click(function () {

            });
        });
    </script>
}
