@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="container ">
    <div class="mb-5">
        <div class="row">
            <div class="mx-md-auto mx-lg-0 col-md-6 col-lg-4 col-xl-7">

                <div class="col-md-6 col-lg-4 col-xl-12 mb-md-6 mb-lg-0 rtl">
                    <div id="DiscountGet" class="rtl">
                    </div>
                    <div class="mb-2 border-color-1 border-bottom" id="ProductNameSecion">
                        

                       
                        
                    </div>
                </div>
                <div class="col-md-6   col-lg-4 col-xl-12 bg-gray-7 mb-4 mb-md-0 border-width-2 border-color-1 productImageBackRadius">

                    <div class="productImage m-1 mt-5  p-5 " id="PriceSection">
                       </div>
                </div>


            </div>



            <div class="col-md-6 bg-gray-7  col-lg-4 col-xl-5 mb-4 mb-md-0 border-width-2 border-color-1 productImageBackRadius">




                
                <div class="productImage m-1 mt-3">
                    <div id="sliderSyncingNav" class="js-slick-carousel u-slick m-3 slick-initialized slick-slider" data-infinite="true" data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle" data-arrow-left-classes="fas fa-arrow-left u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left ml-lg-2 ml-xl-4" data-arrow-right-classes="fas fa-arrow-right u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right mr-lg-2 mr-xl-4" data-nav-for="#sliderSyncingThumb">
                        <div class="js-prev d-none d-lg-inline-block u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle fas fa-arrow-left u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left ml-lg-2 ml-xl-4 slick-arrow" style=""></div>
                        <div class="slick-list draggable">
                            <div class="slick-track" style="opacity: 1; width: 16275px; transform: translate3d(-525px, 0px, 0px);">
                                <div class="js-slide slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 525px;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-14.jpg" alt="">
                                </div><div class="js-slide slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 525px; height: auto;" tabindex="0">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-0.jpg" alt="">
                                </div><div class="js-slide slick-slide" data-slick-index="1" aria-hidden="true" style="width: 525px; height: auto;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-1.jpg" alt="">
                                </div><div class="js-slide slick-slide" data-slick-index="2" aria-hidden="true" style="width: 525px; height: auto;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-2.jpg" alt="">
                                </div><div class="js-slide slick-slide" data-slick-index="3" aria-hidden="true" style="width: 525px; height: auto;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-3.jpg" alt="">
                                </div><div class="js-slide slick-slide" data-slick-index="4" aria-hidden="true" style="width: 525px; height: auto;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-4.jpg" alt="">
                                </div><div class="js-slide slick-slide" data-slick-index="5" aria-hidden="true" style="width: 525px; height: auto;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-5.jpg" alt="">
                                </div><div class="js-slide slick-slide" data-slick-index="6" aria-hidden="true" style="width: 525px; height: auto;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-6.jpg" alt="">
                                </div><div class="js-slide slick-slide" data-slick-index="7" aria-hidden="true" style="width: 525px; height: auto;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-7.jpg" alt="">
                                </div><div class="js-slide slick-slide" data-slick-index="8" aria-hidden="true" style="width: 525px; height: auto;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-8.jpg" alt="">
                                </div><div class="js-slide slick-slide" data-slick-index="9" aria-hidden="true" style="width: 525px; height: auto;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-9.jpg" alt="">
                                </div><div class="js-slide slick-slide" data-slick-index="10" aria-hidden="true" style="width: 525px; height: auto;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-10.jpg" alt="">
                                </div><div class="js-slide slick-slide" data-slick-index="11" aria-hidden="true" style="width: 525px; height: auto;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-11.jpg" alt="">
                                </div><div class="js-slide slick-slide" data-slick-index="12" aria-hidden="true" style="width: 525px; height: auto;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-12.jpg" alt="">
                                </div><div class="js-slide slick-slide" data-slick-index="13" aria-hidden="true" style="width: 525px; height: auto;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-13.jpg" alt="">
                                </div><div class="js-slide slick-slide" data-slick-index="14" aria-hidden="true" style="width: 525px; height: auto;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-14.jpg" alt="">
                                </div><div class="js-slide slick-slide slick-cloned" data-slick-index="15" aria-hidden="true" style="width: 525px;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-0.jpg" alt="">
                                </div><div class="js-slide slick-slide slick-cloned" data-slick-index="16" aria-hidden="true" style="width: 525px;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-1.jpg" alt="">
                                </div><div class="js-slide slick-slide slick-cloned" data-slick-index="17" aria-hidden="true" style="width: 525px;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-2.jpg" alt="">
                                </div><div class="js-slide slick-slide slick-cloned" data-slick-index="18" aria-hidden="true" style="width: 525px;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-3.jpg" alt="">
                                </div><div class="js-slide slick-slide slick-cloned" data-slick-index="19" aria-hidden="true" style="width: 525px;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-4.jpg" alt="">
                                </div><div class="js-slide slick-slide slick-cloned" data-slick-index="20" aria-hidden="true" style="width: 525px;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-5.jpg" alt="">
                                </div><div class="js-slide slick-slide slick-cloned" data-slick-index="21" aria-hidden="true" style="width: 525px;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-6.jpg" alt="">
                                </div><div class="js-slide slick-slide slick-cloned" data-slick-index="22" aria-hidden="true" style="width: 525px;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-7.jpg" alt="">
                                </div><div class="js-slide slick-slide slick-cloned" data-slick-index="23" aria-hidden="true" style="width: 525px;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-8.jpg" alt="">
                                </div><div class="js-slide slick-slide slick-cloned" data-slick-index="24" aria-hidden="true" style="width: 525px;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-9.jpg" alt="">
                                </div><div class="js-slide slick-slide slick-cloned" data-slick-index="25" aria-hidden="true" style="width: 525px;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-10.jpg" alt="">
                                </div><div class="js-slide slick-slide slick-cloned" data-slick-index="26" aria-hidden="true" style="width: 525px;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-11.jpg" alt="">
                                </div><div class="js-slide slick-slide slick-cloned" data-slick-index="27" aria-hidden="true" style="width: 525px;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-12.jpg" alt="">
                                </div><div class="js-slide slick-slide slick-cloned" data-slick-index="28" aria-hidden="true" style="width: 525px;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-13.jpg" alt="">
                                </div><div class="js-slide slick-slide slick-cloned" data-slick-index="29" aria-hidden="true" style="width: 525px;" tabindex="-1">
                                    <img class="img-fluid" src="/Shared/Images/Products/31793-14.jpg" alt="">
                                </div>
                            </div>
                        </div>














                        <div class="js-next d-none d-lg-inline-block u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle fas fa-arrow-right u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right mr-lg-2 mr-xl-4 slick-arrow" style=""></div>
                    </div>



                </div>
                <div id="sliderSyncingThumb" class="js-slick-carousel u-slick u-slick--slider-syncing u-slick--slider-syncing-size u-slick--gutters-1 u-slick--transform-off slick-initialized slick-slider" data-infinite="true" data-slides-show="5" data-is-thumbs="true" data-nav-for="#sliderSyncingNav">
                    <div class="slick-list draggable">
                        <div class="slick-track" style="opacity: 1; width: 4025px; transform: translate3d(-575px, 0px, 0px);">
                            <div class="js-slide slick-slide slick-cloned" style="cursor: pointer; width: 107px;" data-slick-index="-5" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-10.jpg" alt="">
                            </div><div class="js-slide slick-slide slick-cloned" style="cursor: pointer; width: 107px;" data-slick-index="-4" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-11.jpg" alt="">
                            </div><div class="js-slide slick-slide slick-cloned" style="cursor: pointer; width: 107px;" data-slick-index="-3" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-12.jpg" alt="">
                            </div><div class="js-slide slick-slide slick-cloned" style="cursor: pointer; width: 107px;" data-slick-index="-2" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-13.jpg" alt="">
                            </div><div class="js-slide slick-slide slick-cloned" style="cursor: pointer; width: 107px;" data-slick-index="-1" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-14.jpg" alt="">
                            </div><div class="js-slide slick-slide slick-current slick-active" style="cursor: pointer; width: 107px; height: auto;" data-slick-index="0" aria-hidden="false" tabindex="0">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-0.jpg" alt="">
                            </div><div class="js-slide slick-slide slick-active" style="cursor: pointer; width: 107px; height: auto;" data-slick-index="1" aria-hidden="false" tabindex="0">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-1.jpg" alt="">
                            </div><div class="js-slide slick-slide slick-active" style="cursor: pointer; width: 107px; height: auto;" data-slick-index="2" aria-hidden="false" tabindex="0">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-2.jpg" alt="">
                            </div><div class="js-slide slick-slide slick-active" style="cursor: pointer; width: 107px; height: auto;" data-slick-index="3" aria-hidden="false" tabindex="0">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-3.jpg" alt="">
                            </div><div class="js-slide slick-slide slick-active" style="cursor: pointer; width: 107px; height: auto;" data-slick-index="4" aria-hidden="false" tabindex="0">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-4.jpg" alt="">
                            </div><div class="js-slide slick-slide" style="cursor: pointer; width: 107px; height: auto;" data-slick-index="5" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-5.jpg" alt="">
                            </div><div class="js-slide slick-slide" style="cursor: pointer; width: 107px; height: auto;" data-slick-index="6" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-6.jpg" alt="">
                            </div><div class="js-slide slick-slide" style="cursor: pointer; width: 107px; height: auto;" data-slick-index="7" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-7.jpg" alt="">
                            </div><div class="js-slide slick-slide" style="cursor: pointer; width: 107px; height: auto;" data-slick-index="8" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-8.jpg" alt="">
                            </div><div class="js-slide slick-slide" style="cursor: pointer; width: 107px; height: auto;" data-slick-index="9" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-9.jpg" alt="">
                            </div><div class="js-slide slick-slide" style="cursor: pointer; width: 107px; height: auto;" data-slick-index="10" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-10.jpg" alt="">
                            </div><div class="js-slide slick-slide" style="cursor: pointer; width: 107px; height: auto;" data-slick-index="11" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-11.jpg" alt="">
                            </div><div class="js-slide slick-slide" style="cursor: pointer; width: 107px; height: auto;" data-slick-index="12" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-12.jpg" alt="">
                            </div><div class="js-slide slick-slide" style="cursor: pointer; width: 107px; height: auto;" data-slick-index="13" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-13.jpg" alt="">
                            </div><div class="js-slide slick-slide" style="cursor: pointer; width: 107px; height: auto;" data-slick-index="14" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-14.jpg" alt="">
                            </div><div class="js-slide slick-slide slick-cloned" style="cursor: pointer; width: 107px;" data-slick-index="15" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-0.jpg" alt="">
                            </div><div class="js-slide slick-slide slick-cloned" style="cursor: pointer; width: 107px;" data-slick-index="16" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-1.jpg" alt="">
                            </div><div class="js-slide slick-slide slick-cloned" style="cursor: pointer; width: 107px;" data-slick-index="17" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-2.jpg" alt="">
                            </div><div class="js-slide slick-slide slick-cloned" style="cursor: pointer; width: 107px;" data-slick-index="18" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-3.jpg" alt="">
                            </div><div class="js-slide slick-slide slick-cloned" style="cursor: pointer; width: 107px;" data-slick-index="19" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-4.jpg" alt="">
                            </div><div class="js-slide slick-slide slick-cloned" style="cursor: pointer; width: 107px;" data-slick-index="20" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-5.jpg" alt="">
                            </div><div class="js-slide slick-slide slick-cloned" style="cursor: pointer; width: 107px;" data-slick-index="21" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-6.jpg" alt="">
                            </div><div class="js-slide slick-slide slick-cloned" style="cursor: pointer; width: 107px;" data-slick-index="22" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-7.jpg" alt="">
                            </div><div class="js-slide slick-slide slick-cloned" style="cursor: pointer; width: 107px;" data-slick-index="23" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-8.jpg" alt="">
                            </div><div class="js-slide slick-slide slick-cloned" style="cursor: pointer; width: 107px;" data-slick-index="24" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-9.jpg" alt="">
                            </div><div class="js-slide slick-slide slick-cloned" style="cursor: pointer; width: 107px;" data-slick-index="25" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-10.jpg" alt="">
                            </div><div class="js-slide slick-slide slick-cloned" style="cursor: pointer; width: 107px;" data-slick-index="26" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-11.jpg" alt="">
                            </div><div class="js-slide slick-slide slick-cloned" style="cursor: pointer; width: 107px;" data-slick-index="27" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-12.jpg" alt="">
                            </div><div class="js-slide slick-slide slick-cloned" style="cursor: pointer; width: 107px;" data-slick-index="28" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-13.jpg" alt="">
                            </div><div class="js-slide slick-slide slick-cloned" style="cursor: pointer; width: 107px;" data-slick-index="29" aria-hidden="true" tabindex="-1">
                                <img class="img-fluid" src="/Shared/Images/Products/31793-14.jpg" alt="">
                            </div>
                        </div>
                    </div>















                </div>
            </div>


            <div class="col-md-6 bg-gray-7  col-lg-4 col-xl-4 mb-4 mb-md-0 border-width-2 border-color-1 borders-radius-17">
            </div>


        </div>
    </div>
</div>