<div class="col-auto position-static">
    <div class="d-flex">
        <ul class="d-flex list-unstyled mb-0">
            <partial name="Shared/_UserNamePartialSiteMenu" />
           
        </ul>
    </div>
</div>