<div class="col-auto">
    <div class="d-inline-flex d-xl-flex align-items-center justify-content-xl-between position-relative">

        <!-- Basics Accordion -->
        @await Component.InvokeAsync("Categuries", 1)
        <!-- End Basics Accordion -->
        <!-- Responsive Menu -->
        <div id="logoAndNav">
            <!-- Nav -->
            <nav class="navbar navbar-expand u-header__navbar">
                <!-- Fullscreen Toggle Button -->
                <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center mt-3 mr-xl-0 ml-xl-2"
                   href="/" aria-label="Parstech">
                    <img src="~/Shared/Images/logo.png">
                </a>
                <button id="sidebarHeaderInvoker" type="button"
                        class="mr-2 pl-0 navbar-toggler d-block d-xl-none btn u-hamburger ml-auto"
                        aria-controls="sidebarHeader"
                        aria-haspopup="true"
                        aria-expanded="true"
                        data-unfold-event="click"
                        data-unfold-hide-on-scroll="false"
                        data-unfold-target="#sidebarHeader"
                        data-unfold-type="css-animation"
                        data-unfold-animation-in="fadeInLeft"
                        data-unfold-animation-out="fadeOutLeft"
                        data-unfold-duration="500">
                    <span id="hamburgerTrigger" class="u-hamburger__box">
                        <span class="   fas fa-bars fa-2x"></span>
                    </span>
                </button>
                <!-- End Fullscreen Toggle Button -->
                <!-- Logo -->

                <!-- End Logo -->
            </nav>
            <!-- End Nav -->
        </div>
        <!-- End Responsive Menu -->
    </div>
</div>
