<div class="col d-none d-xl-block ">


    <div class="input-group">
        <input type="text"
               class="form-control text-right py-2 pl-5 font-size-15 border-right-0 height-40 border-width-2 rounded-left-pill SearchInput"
               id="SearchFilter" placeholder="جستجو" aria-label="Search for Products" aria-describedby="searchProduct1"
               required="">
        <div class="input-group-append">
            <!-- Select -->
            <!-- End Select -->
            <button onclick="Search()" class="btn btn-gray border-width-2 height-40 py-2 px-3 rounded-right-pill"
                    type="button" id="searchProduct1">
                <span class="ec ec-search font-size-24"></span>
            </button>
        </div>
    </div>
    <div id="SearchSection">

    </div>


</div>