<div class="u-header-topbar bg-gray-1 border-0 py-2 d-none d-xl-block">
    <div class="container">
        <div class="d-flex align-items-center">

            <div class="topbar-right ml-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-0 u-header-topbar__nav-item u-header-topbar__nav-item-border">
                        <a href="https://day.parstech.co" class="u-header-topbar__nav-link"><i class="ec ec-transport mr-1"></i>فروش سازمانی بانک دی</a>
                    </li>
                    <li class="list-inline-item mr-0 u-header-topbar__nav-item u-header-topbar__nav-item-border">
                        <a href="https://bmi.parstech.co" class="u-header-topbar__nav-link"><i class="ec ec-transport mr-1"></i>فروش سازمانی بانک ملی ایران</a>
                    </li>
                    @* <li class="list-inline-item mr-0 u-header-topbar__nav-item u-header-topbar__nav-item-border">
                        <a href="/CreditRequest" class="u-header-topbar__nav-link">درخواست اعتبار سازمانی ویژه همکاران</a>
                    </li> *@
                   @*  <li class="list-inline-item mr-0 u-header-topbar__nav-item u-header-topbar__nav-item-border">
                        <a href="/CompanyVision" class="u-header-topbar__nav-link"> چشم انداز شرکت</a>
                    </li> *@
                    <li class="list-inline-item mr-0 u-header-topbar__nav-item u-header-topbar__nav-item-border">
                        <a href="/ContactUs" class="u-header-topbar__nav-link">تماس با ما</a>
                    </li>

                    <li class="list-inline-item mr-0 u-header-topbar__nav-item u-header-topbar__nav-item-border">
                        <a href="/AboutUs" class="u-header-topbar__nav-link">درباره ما</a>
                    </li>

                    

                    @* <partial name="Shared/_UserNamePartialSite" /> *@
                </ul>
            </div>
        </div>

    </div>
</div>