@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Admin.IndexModel
@{
    Layout = "Shared/Admin_Layout";
    ViewData["Title"] = "Home page";
}

<div class="row hidden" id="ROW">
    <!-- BEGIN BREADCRUMB -->
    <div class="col-md-12">
        <div class="breadcrumb-box border shadow radius" id="Time">
            <ul class="breadcrumb">
                <li><a href="dashboard.html">پیشخوان</a></li>
            </ul>

        </div><!-- /.breadcrumb-box -->
    </div><!-- /.col-md-12 -->
    <!-- END BREADCRUMB -->

    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-4 col-6">
                <div class="stat-box bg-cyan shadow radius">
                    <a href="#">
                        <div class="stat">
                            <div id="Users" class="counter-down" data-value=""></div>
                            <div class="h3">کاربر</div>
                        </div><!-- /.stat -->
                        <div class="visual">
                            <i class=" fas fa-users"></i>
                        </div><!-- /.visual -->
                    </a>
                </div><!-- /.stat-box -->
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-4 col-6">
                <div class="stat-box bg-blue shadow radius">
                    <a href="#">
                        <div class="stat">
                            <div id="Products" class="counter-down" data-value=""></div>
                            <div class="h3">محصول</div>
                        </div><!-- /.stat -->
                        <div class="visual">
                            <i class=" fab fa-get-pocket"></i>
                        </div><!-- /.visual -->
                    </a>
                </div><!-- /.stat-box -->
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-4 col-6">
                <div class="stat-box bg-green shadow radius">
                    <a href="#">
                        <div class="stat">
                            <div id="Orders" class="counter-down" data-value=""></div>
                            <div class="h3">سفارش ثبت شده</div>
                        </div><!-- /.stat -->
                        <div class="visual">
                            <i class=" fas fa-cart-arrow-down"></i>
                        </div><!-- /.visual -->
                    </a>
                </div><!-- /.stat-box -->
            </div><!-- /.col-lg-3 -->

        </div>


        <div class="row">
            <div class="col-lg-2 col-6">
                <div class="stat-box bg-orange shadow radius">
                    <a href="#">
                        <div class="stat">
                            <div id="allTransaction" class="counter-down" data-value=""></div>
                            <div class="h3">تراکنش</div>
                        </div><!-- /.stat -->
                        <div class="visual">
                            <i class="  fas fa-credit-card"></i>
                        </div><!-- /.visual -->
                    </a>
                </div><!-- /.stat-box -->
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-2 col-sm-4 col-6">
                <div class="stat-box bg-purple shadow radius knob-container">
                    <div class="h3">امتیاز</div>
                    <input id="Coin" class="knob-animate" value="" data-min="0" data-max="" data-linecap="round"
                           data-thickness=".1" data-width="40%" data-bgcolor="rgba(255, 255, 255, 0.15)"
                           data-fgColor="#fff" readonly>
                </div><!-- /.stat-box -->
            </div><!-- /.col-lg-2 -->
            <div class="col-lg-2 col-sm-4 col-6">
                <div class="stat-box bg-lime  shadow radius knob-container">
                    <div class="h3">حساب</div>
                    <input id="transaction" class="knob-animate" value="" data-min="0" data-max="" data-linecap="round"
                           data-thickness=".1" data-width="40%" data-bgcolor="rgba(255, 255, 255, 0.15)"
                           data-fgColor="#fff" readonly>
                </div><!-- /.stat-box -->
            </div><!-- /.col-lg-2 -->
            <div class="col-lg-2 col-sm-4 col-6">
                <div class="stat-box bg-deeporange shadow radius knob-container">
                    <div class="h3">اقساط</div>
                    <input id="Fecilities" class="knob-animate" value="" data-min="0" data-max="" data-linecap="round"
                           data-thickness=".1" data-width="40%" data-bgcolor="rgba(255, 255, 255, 0.15)"
                           data-fgColor="#fff" readonly>
                </div><!-- /.stat-box -->
            </div><!-- /.col-lg-2 -->
            <div class="col-lg-2 col-sm-4 col-6">
                <div class="stat-box bg-rose shadow radius knob-container">
                    <div class="h3">پیش فاکتور</div>
                    <input id="PreOrders" class="knob-animate" value="" data-min="0" data-max="" data-linecap="round"
                           data-thickness=".1" data-width="40%" data-bgcolor="rgba(255, 255, 255, 0.15)"
                           data-fgColor="#fff" readonly>
                </div><!-- /.stat-box -->
            </div><!-- /.col-lg-2 -->
            <div class="col-lg-2 col-sm-4 col-6">
                <div class="stat-box bg-red shadow radius knob-container">
                    <div class="h3">صورتحساب</div>
                    <input id="Factors" class="knob-animate" value="" data-min="0" data-max="" data-linecap="round"
                           data-thickness=".1" data-width="40%" data-bgcolor="rgba(255, 255, 255, 0.15)"
                           data-fgColor="#fff" readonly>
                </div><!-- /.stat-box -->
            </div><!-- /.col-lg-2 -->
        </div><!-- /.row -->


        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="portlet box border shadow radius min-height-600">
                    <div class="portlet-heading">
                        <div class="portlet-title">
                            <h3 class="title">
                                <i class="icon-location-pin"></i>
                                فروش نمایندگی ها
                            </h3>
                        </div>

                    </div>
                    <div class="portlet-body">
                        <div id="donut" class="morris-chart"></div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="portlet box border shadow radius min-height-600">
                    <div class="portlet-heading">
                        <div class="portlet-title">
                            <h3 class="title">
                                <i class="icon-location-pin"></i>
                                فروش نمایندگی ها
                            </h3>
                        </div><!-- /.portlet-title -->

                    </div><!-- /.portlet-heading -->
                    <div class="portlet-body">
                        @*<div id="donut" class="morris-chart"></div>*@
                        <div id="map" class="ammap-box"></div>
                    </div><!-- /.portlet-body -->
                </div><!-- /.portlet -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
        <div class="row" style="display: none">

            <div class="col-md-12 col-xs-12">
                <div class="portlet-body">
                    <div id="realtime" class="morris-chart"></div>
                </div><!-- /.portlet-body -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
        <div class="row">
        </div><!-- /.row -->
    </div><!-- /.col-md-12 -->
</div><!-- /.row -->



<form method="post" asp-page-handler="GetData" id="GetDataForm"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-begin="OnLoading"
      data-ajax-complete="OnComplete"
      data-ajax-failure="OnError">
</form>

@section Scripts {
    <script src="~/shared/lib/shared/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Admin/plugins/morris.js/morris.min.js"></script>
    <script src="~/shared/lib/admin/index/dashboard1.js"></script>
    @*<script src="~/shared/lib/admin/index/index.js"></script>*@
    <script src="~/shared/lib/shared/toast/toast.js"></script>
    <script src="~/shared/lib/shared/toast/mytoast.js"></script>
}

@section Styles {
    <link href="~/shared/lib/shared/toast/toast.css" rel="stylesheet"/>

}
