@page
@using Microsoft.AspNetCore.Antiforgery;
@model Shop.Web.Pages.IndexModel
@{
}
@Html.AntiForgeryToken()

<main id="content" role="main">
   
    @*section1*@
    @if (Model.Sections.Count > 0)
    {
        @foreach (var item in Model.Sections.OrderBy(u => u.Sort))
        {
            if (item.Sort == 0 || item.Sort == 1)
            {
                @await Component.InvokeAsync("LandingPageSection", item.Id)
            }
            else
            {
                <div class="container">
                    @await Component.InvokeAsync("LandingPageSection", item.Id)
                </div>
            }

        }
    }
        
        

    <div id="CooiesModal2" class="modal fade" role="dialog" >
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="col-12 m-auto m-b-10" style="text-align:justify;">
                            <h5 class="font-weiht-bold">پذیرش کوکی ها</h5>
                            <p>ما از کوکی‌ها برای ارائه بهترین تجربه ممکن استفاده می‌کنیم. آیا استفاده ما از کوکی‌ها را تأیید می‌کنید؟</p>
                        </div><!-- /.col-md-8 -->
                    </div><!-- /col-lg-12 -->
                    <button type="button" onclick="acceptCookies()" class="btn btn-default btn-round">تائید کوکی ها</button>
                    <button type="button" onclick="rejectCookies()" class="btn btn-default btn-round" >رد کردن کوکی ها</button>

                </div>

            </div>
        </div>
    </div>


</main>




<!--FORMS-->
<form method="post" id="GetDataForm" asp-page-handler="Data"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-begin="OnLoading"
      data-ajax-complete="OnComplete"
      data-ajax-failure="OnError">
</form>





@section Scripts {
    <script src="~/Shared/Lib/Shared/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>


    <script src="~/Shared/Lib/Site/Landing/Index.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnGet").click(function () {
                
            });
        });
    </script>
}
