@page
@model Shop.Web.Pages.Components.GetCategurySelectModel
@{
    Layout = null;
}

<option value="">انتخاب نشده</option>
@foreach (var item in Model.list)
{
                <option value="@item.GroupId">@item.GroupTitle </option>
}