@page
@model Shop.Web.Pages.Components.GetDiscountProductsSelectModel
@{
    Layout = null;
}

<option value="">انتخاب نشده</option>
@foreach (var item in Model.list)
{
    <option value="@item.Id">@item.ProductName (@item.Code)</option>
}