@page
@model Shop.Web.Pages.Admin.Store.SalesModel
@{
}
@{
    Layout = "Shared/Admin_Layout";
    ViewData["Title"] = "Home page";
}
@Html.AntiForgeryToken()

<div class="row">
    <div class="col-lg-12">
        <div class="portlet box border shadow">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h3 class="title">
                        <i class="icon-settings"></i>
                        لیست فروش تامین کننده
                    </h3>

                </div>

            </div>
            <div class="portlet-body" style="">

                <form method="post" asp-page-handler="Search" id="SerachForm"
                      data-ajax="true"
                      data-ajax-method="POST"
                      data-ajax-complete="OnComplete">
                    <input type="hidden" asp-for="parameters.CurrentPage" id="currentPage" />
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>فیلتر کاربر</label>
                                <select asp-for="parameters.StoreId" id="userFilter" class="form-control select2">
                                    <option value="">انتخاب نشده</option>
                                    
                                </select>


                            </div>
                        </div>
                       
                        
                        <div class="col-lg-3">
                            <div class="form-group ">
                                <label>از تاریخ</label>
                                <input type="text" asp-for="parameters.FromDate" id="fromDate" class="has-persian-datepicker form-control">

                            </div>
                        </div><div class="col-lg-3">
                            <div class="form-group ">
                                <label>تا تاریخ</label>
                                <input type="text" asp-for="parameters.ToDate" id="toDate" class="has-persian-datepicker form-control">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group ">

                                <button type="submit" class="btn btn-blue text-white font-weight-bold">فیلتر</button>
                                <a href="#" class="btn btn-green  hover-green font-weight-bold- text-white" onclick="GenerateExcel()">دریافت اطلاعات به صورت اکسل</a>

                            </div>
                        </div>
                    </div>
                </form>


                <div class="table-responsive">

                    <div id="DataSection">
                    </div>

                    <div class="d-flex mb-2" id="paging">
                        <button onclick="RunPaging('previues')" class="btn cart-Blue btn-xs font-weight-bold ml-2">صفحه قبل</button><button onclick="RunPaging('next')" class="btn cart-Blue btn-xs font-weight-bold ml-2">صفحه بعد</button>
                    </div>
                </div><!-- /.portlet-body -->
            </div><!-- /.portlet -->


        </div>
    </div>

    <div id="StatusOfOrderModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                    <h4 class="modal-title">وضعیت سفارش</h4>
                </div>
                <div class="modal-body">
                    <div class="row" id="StatusOfOrderSection">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
                </div>
            </div>
        </div>
    </div>

    <div id="ContractOrderModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                    <h4 class="modal-title">شرح قرارداد تامین کننده</h4>
                </div>
                <div class="modal-body">
                    <table class="w-100">
                        <thead>
                            <tr>
                                <th>شرح قلم</th>
                                <th> مبلغ قلم <small>با احتساب مالیات</small></th>
                                <th>سهم تامین کننده</th>
                                <th>سهم پلتفرم</th>
                            </tr>
                        </thead>
                        <tbody id="contractData">
                            
                        </tbody>
                    </table>
                    <div class="row" id="StatusOfOrderSection">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
                </div>
            </div>
        </div>
    </div>

    <form method="post" asp-page-handler="GetData" id="GetDataForm"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-begin="OnLoading"
          data-ajax-complete="OnComplete"
          data-ajax-failure="OnError">
    </form>
   
    @section Scripts {
        <script src="~/shared/lib/shared/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/Admin/plugins/morris.js/morris.min.js"></script>
        <script src="~/shared/lib/admin/store/sales.js"></script>
        
        <script src="~/shared/lib/shared/toast/toast.js"></script>
        <script src="~/shared/lib/shared/toast/mytoast.js"></script>
        <script src="~/shared/lib/shared/jquery-ajax-unobtrusive/3.2.6/separate.js"></script>
        <script src="~/Admin/plugins/select2/dist/js/select2.full.min.js"></script>
        <script src="~/Admin/plugins/select2/dist/js/i18n/fa.js"></script>
        <script src="~/Admin/js/pages/select2.js"></script>
        <script src="~/Admin/plugins/persian-date/persian-date.min.js"></script>

        <script src="~/Admin/plugins/persian-datepicker/js/persian-datepicker.min.js"></script>
        <script src="~/Admin/js/pages/calendar.js"></script>
    }

    @section Styles {
        <link href="~/shared/lib/shared/toast/toast.css" rel="stylesheet" />
        <link href="~/Admin/plugins/select2/dist/css/select2.min.css" rel="stylesheet">
        <link href="~/Admin/plugins/persian-datepicker/css/persian-datepicker.min.css" rel="stylesheet">

    }
