@page
@model Parstech.Shop.Web.Pages.Checkout.IndexModel
@{
}


<main id="content" role="main" dir="rtl">
    <div class="container">


        <div class="row" id="DataSection">
        </div>
    </div>
</main>


@*Modal *@
<div id="OrderComplete" class="modal  fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeModal()">&times;</button>
                <h4 class="modal-title">ثبت نهایی سفارش</h4>
            </div>
            <div class="modal-body" id="CompleteInfo">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div id="AghsatComplete" class="modal fade " role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeAghsatModal()">&times;</button>
                <h5 class="modal-title">جزئیات پرداخت سفارش از طریق تسهیلات</h5>
            </div>
            <div class="modal-body" id="AghsatSection">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div id="Shippings" class="modal  fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeModal()">&times;</button>
                <h4 class="modal-title">ثبت آدرس خریدار</h4>

            </div>
            <br/>
            <div class="alert BgYellow font-weight-bold font-size-13"><i class=" fas fa-circle-info p-1 Black"></i> جهت
                ثبت آدرس جدید و یا ویرایش آدرس های خود به پنل کاربری خود مراجعه فرمایید
            </div>
            <button onclick="SetShipping(0)" type="button" class="btn BgOrange font-weight-bold White btn-xs"><i
                    class=" fas fa-boxes-packing p-2 White"></i> تحویل حضوری در دفتر مرکزی شرکت پارس تکنولوژی سداد
            </button>
            <div class="modal-body" id="ShippingList">
            </div>

        </div>
    </div>
</div>
@*end Modal*@

@section Styles {
    <link href="~/shared/lib/shared/toast/toast.css" rel="stylesheet"/>
    <link href="~/site/productdetail/main.css" rel="stylesheet"/>
    <link href="~/site/productdetail/materialdesignicons.min.css" rel="stylesheet"/>
}

@section Scripts {
    <script src="~/shared/lib/shared/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/shared/lib/shared/toast/toast.js"></script>
    <script src="~/shared/lib/shared/toast/mytoast.js"></script>


    <script src="~/shared/lib/shared/jquery-ajax-unobtrusive/3.2.6/separate.js"></script>

    <script src="~/shared/lib/Site/Checkout/base.js"></script>
    <script src="~/site/productdetail/main.js"></script>
}