@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Parstech.Shop.Web.Pages.Components.GetProductsSelectModel
@{
    Layout = null;
}

<option value="">انتخاب نشده</option>
@foreach (var item in Model.list)
{
    <option value="@item.Id">@item.ProductName (@item.Code)</option>
}