@page
@model Shop.Web.Pages.Admin.Setting.SiteModel
@{
    Layout = "Shared/Admin_Layout";
}
<div class="row">
    <div class="col-lg-12">
        <div class="portlet box border shadow">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h3 class="title">
                        <i class="icon-settings"></i>
                        تنظیمات اصلی سایت
                    </h3>
                </div><!-- /.portlet-title -->
                @*<div class="buttons-box">
                    <a class="btn btn-sm btn-default btn-round btn-fullscreen" rel="tooltip" href="#" aria-label="تمام صفحه" data-bs-original-title="تمام صفحه">
                        <i class="icon-size-fullscreen"></i>
                        <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                    </a>
                    <a class="btn btn-sm btn-default btn-round btn-collapse" rel="tooltip" href="#" aria-label="کوچک کردن" data-bs-original-title="کوچک کردن">
                        <i class="icon-arrow-up"></i>
                        <div class="paper-ripple"><div class="paper-ripple__background" style="opacity: 0.00696;"></div><div class="paper-ripple__waves"></div></div>
                    </a>
                </div>*@<!-- /.buttons-box -->
            </div><!-- /.portlet-heading -->
            <div class="portlet-body" style="">
                <form role="form" method="post" enctype="multipart/form-data"
                      data-ajax="true"
                      data-ajax-method="POST"
                      data-ajax-begin="OnLoading"
                      data-ajax-complete="OnComplete"
                      data-ajax-failure="OnError">
                    
                    <input type="hidden" asp-for="Input.Logo"/>
                    <div class="form-body">
                        <div class="form-group round">
                            <label>عنوان سایت</label>
                            <input asp-for="Input.SiteName" type="text" class="form-control">
                        </div><!-- /.form-group -->

                        <div class="form-group round">
                            <label>نام اصلی صفحات سایت</label>
                            <input asp-for="Input.Title" type="text" class="form-control">
                        </div><!-- /.form-group -->


                        <div class="form-group round">
                            <img src="/Shared/Images/@Model.Input.Logo" width="200"/>
                        </div><!-- /.form-group -->
                        <div class="form-group relative">
                            <input asp-for="Input.LogoFile" type="file" class="form-control">
                            <label>لوگوی اصلی سایت</label>
                            <div class="input-group round">
                                <input type="text" class="form-control file-input" placeholder="برای آپلود کلیک کنید">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info">
                                        <i class="icon-picture"></i>
                                        آپلود عکس
                                        <div class="paper-ripple">
                                            <div class="paper-ripple__background"></div>
                                            <div class="paper-ripple__waves"></div></div>
                                    </button>
                                </span>
                            </div><!-- /.input-group -->
                            <div class="help-block"></div>
                        </div><!-- /.form-group -->

                        <div class="form-group round">
                            <label>نام جایگزین لوگوی سایت</label>
                            <input asp-for="Input.LogoAlt" type="text" class="form-control">
                        </div><!-- /.form-group -->


                        <div class="form-group round">
                            <img src="/Shared/Images/@Model.Input.Enamad" width="200"/>
                        </div><!-- /.form-group -->
                        <div class="form-group relative">
                            <input asp-for="Input.EnamadFile" type="file" class="form-control">
                            <label>نشان enamad</label>
                            <div class="input-group round">
                                <input type="text" class="form-control file-input" placeholder="برای آپلود کلیک کنید">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info">
                                        <i class="icon-picture"></i>
                                        آپلود عکس
                                        <div class="paper-ripple">
                                            <div class="paper-ripple__background"></div>
                                            <div class="paper-ripple__waves"></div></div>
                                    </button>
                                </span>
                            </div><!-- /.input-group -->
                            <div class="help-block"></div>
                        </div><!-- /.form-group -->


                        <div class="form-group round">
                            <img src="/Shared/Images/@Model.Input.EtaemadElectronic" width="200"/>
                        </div><!-- /.form-group -->
                        <div class="form-group relative">
                            <input asp-for="Input.EtaemadElectronicFile" type="file" class="form-control">
                            <label>نشان اعتماد الکترونیک</label>
                            <div class="input-group round">
                                <input type="text" class="form-control file-input" placeholder="برای آپلود کلیک کنید">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info">
                                        <i class="icon-picture"></i>
                                        آپلود عکس
                                        <div class="paper-ripple">
                                            <div class="paper-ripple__background"></div>
                                            <div class="paper-ripple__waves"></div></div>
                                    </button>
                                </span>
                            </div><!-- /.input-group -->
                            <div class="help-block"></div>
                        </div><!-- /.form-group -->

                    </div><!-- /.form-body -->

                    <div class="form-actions">
                        <button type="submit" class="btn btn-info btn-round">
                            <i class="icon-check"></i>
                            ذخیره
                            <div class="paper-ripple">
                                <div class="paper-ripple__background"></div>
                                <div class="paper-ripple__waves"></div></div>
                        </button>
                        <button type="button" class="btn btn-warning btn-round">
                            بازگشت
                            <i class="icon-close"></i>
                            <div class="paper-ripple">
                                <div class="paper-ripple__background"></div>
                                <div class="paper-ripple__waves"></div></div>
                        </button>
                    </div><!-- /.form-actions -->
                </form>
            </div><!-- /.portlet-body -->
        </div><!-- /.portlet -->

        
    </div>
</div>
@section Styles {
    <link href="~/shared/lib/shared/toast/toast.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/shared/lib/shared/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/shared/lib/shared/toast/toast.js"></script>
    <script src="~/shared/lib/shared/toast/mytoast.js"></script>
    <script src="~/shared/lib/admin/setting/site.js"></script>
}