@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Parstech.Shop.Web.Pages.Admin.Setting.SocialModel
@{
    Layout = "Shared/Admin_Layout";
}

<div class="row">
    <div class="col-lg-12">
        <div class="portlet box border shadow">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h3 class="title">
                        <i class="icon-settings"></i>
                        شبکه های اجتماعی
                    </h3>
                </div><!-- /.portlet-title -->
                <div class="buttons-box">
                    <button onclick="ShowCreateModal()" class="btn btn-sm btn-success btn-round ">
                        <i class="icon-plus text-success"></i>
                        <div class="paper-ripple">
                            <div class="paper-ripple__background"></div>
                            <div class="paper-ripple__waves"></div>
                        </div>
                    </button>

                </div>

                <!-- /.buttons-box -->

            </div><!-- /.portlet-heading -->
            <div class="portlet-body" style="">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>شبکه</th>
                            <th>لینک</th>
                            <th>عملیات</th>

                        </tr>
                        </thead>
                        <tbody>

                        @foreach (var item in Model.List)
                        {
                            <tr>
                                <td>@item.SocialName</td>
                                <td>@item.Site</td>
                                <td>
                                    <button class="btn btn-warning round" onclick="GetEditData(@item.Id)">ویرایش
                                    </button>

                                </td>

                            </tr>
                        }


                        </tbody>
                    </table>
                </div>
            </div><!-- /.portlet-body -->
        </div><!-- /.portlet -->


    </div>
</div>


<form id="GetEditForm" method="post" asp-page-handler="GetOne" enctype="multipart/form-data"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-begin="OnLoadingGet"
      data-ajax-complete="OnCompleteGet"
      data-ajax-failure="OnErrorGet">

    <input type="hidden" asp-for="Id" class="Input_Id"/>
</form>

<div id="modal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">ویرایش شبکه اجتماعی</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="text-center m-t-30 m-b-40" id="image">

                        </p>
                    </div>
                    <div class="col-lg-12">
                        <form method="post" class="form-horizontal" role="form" enctype="multipart/form-data"
                              data-ajax="true"
                              data-ajax-method="POST"
                              data-ajax-begin="OnLoadingUpdate"
                              data-ajax-complete="OnCompleteUpdate"
                              data-ajax-failure="OnErrorUpdate">


                            <input type="hidden" asp-for="Input.Id" class="Input_Id"/>
                            <input type="hidden" asp-for="Input.Image" id="Input_Image"/>


                            <div class="col-md-8 col-lg-6 m-auto m-b-10">
                                <label>نام شبکه</label>
                                <div class="form-group round">
                                    <input asp-for="Input.SocialName" id="Input_SocialName" type="text"
                                           class="form-control">
                                </div><!-- /.input-group -->
                            </div><!-- /.col-md-8 -->

                            <div class="col-md-8 col-lg-6 m-auto m-b-10">
                                <label>عنوان شبکه</label>
                                <div class="form-group round">
                                    <input asp-for="Input.Title" id="Input_Title" type="text" class="form-control">
                                </div><!-- /.input-group -->
                            </div><!-- /.col-md-8 -->

                            <div class="col-md-8 col-lg-6 m-auto m-b-10">
                                <label>لینک</label>
                                <div class="form-group round">
                                    <input asp-for="Input.Site" id="Input_Site" type="text" class="form-control">
                                </div><!-- /.input-group -->
                            </div><!-- /.col-md-8 -->

                            <div class="col-md-8 col-lg-6 m-auto m-b-10">
                                <label>توضیحات</label>
                                <div class="form-group round">
                                    <textarea asp-for="Input.Description" id="Input_Description" type="text"
                                              class="form-control"></textarea>
                                </div><!-- /.input-group -->
                            </div><!-- /.col-md-8 -->
                            <!-- /.col-md-8 -->
                            <div class="col-md-8 col-lg-6 m-auto m-b-10">
                                <div class="form-group relative">
                                    <input asp-for="Input.ImageFile" type="file" class="form-control">
                                    <label>تصویر شیکه </label>
                                    <div class="input-group round">
                                        <input type="text" class="form-control file-input"
                                               placeholder="برای آپلود کلیک کنید">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-info">
                                                <i class="icon-picture"></i>
                                                آپلود عکس
                                                <div class="paper-ripple">
                                                    <div class="paper-ripple__background"></div>
                                                    <div class="paper-ripple__waves"></div></div>
                                            </button>
                                        </span>
                                    </div><!-- /.input-group -->
                                    <div class="help-block"></div>
                                </div><!-- /.form-group -->
                            </div><!-- /.col-md-8 -->
                            <!-- /.col-md-8 -->
                            <div class="col-md-8 col-lg-6 m-auto m-b-50">

                                <button type="submit" class="btn btn-info btn-round btn-block mb-2">
                                    ثبت
                                    <div class="paper-ripple">
                                        <div class="paper-ripple__background"></div>
                                        <div class="paper-ripple__waves"></div>
                                    </div>
                                </button>
                            </div><!-- /.col-md-8 -->
                        </form>
                    </div><!-- /col-lg-12 -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <link href="~/shared/lib/shared/toast/toast.css" rel="stylesheet"/>
}

@section Scripts {
    <script src="~/shared/lib/shared/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/shared/lib/shared/toast/toast.js"></script>
    <script src="~/shared/lib/shared/toast/mytoast.js"></script>
    <script src="~/shared/lib/admin/setting/Social.js"></script>
}