<footer>


    <div class="bg-gray py-4" dir="rtl">
        <div class="container mt-1">
            <div class="row" dir="rtl">
                <div class="col-md-12 bg-gray-7  col-lg-12 col-xl-12 mb-4 mb-md-0 border-width-2 border-color-1 productImageBackRadius">
                    <div class="productImage m-1 mt-3">

                        <div class="row">
                            <div class="col-lg-12">
                                <a class="" href="../home/index.html" aria-label="Electro">
                                    <img src="/Shared/Images/logo.png" width="300" class="mb-3">
                                </a>

                                <div class="mb-4">
                                    <h6 class="mb-1 font-weight-bold mb-2">
                                        فروشگاه اینترنتی پارس تک، آنلاین و پرسرعت
                                    </h6>
                                    <span style="text-align: justify;">
                                        دنیای پارس تک، مجموعه ای متشکل از کارشناسان مجرب
                                        در حوزه های تخصصی کالا و
                                        خدمات، همواره در
                                        تلاش است تا به نمایندگی از بزرگترین برندهای دنیا با ارائه خدمات فروش و پس از
                                        فروش بدون واسطه
                                        به شما مشتری گرامی سهم کوچکی در جهت آسایش و رضایت هرچه بیشتری شما داشته
                                        باشد.
                                    </span>
                                </div>

                            </div>

                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-12 col-md m-2 mb-md-0">
                                        <h6 class="mb-3 font-weight-bold">همکاران</h6>

                                        <ul>
                                            <li>
                                                <a class="Gray" href="http://sadad.co.ir" target="_blank">
                                                    شرکت داده ورزی
                                                    سداد
                                                </a>
                                            </li>
                                            <li>
                                                <a class="Gray" href="https://parstechnology.ir/" target="_blank">
                                                    شرکت
                                                    پارس تکنولوژی
                                                    سداد
                                                </a>
                                            </li>
                                            <li>
                                                <a class="Gray" href="https://sadadpsp.ir" target="_blank">
                                                    شرکت پرداخت
                                                    الکترونیک
                                                    سداد
                                                </a>
                                            </li>
                                            <li>
                                                <a class="Gray" href="http://bmipco.ir" target="_blank">
                                                    شرکت چاپ و نشر
                                                    بانک ملی
                                                    ایران
                                                </a>
                                            </li>
                                            <li>
                                                <a class="Gray" href="http://tmgic.ir/" target="_blank">
                                                    شرکت گروه توسعه
                                                    ملی
                                                </a>
                                            </li>
                                            <li>
                                                <a class="Gray" href="https://bmibourse.ir/" target="_blank">
                                                    کارگزاری
                                                    بانک ملی
                                                    ایران
                                                </a>
                                            </li>
                                            <li>
                                                <a class="Gray" href="http://www.mex.co.ir/" target="_blank">
                                                    شرکت صرافی
                                                    ملی
                                                    ایران
                                                </a>
                                            </li>
                                            <li>
                                                <a class="Gray" href="http://www.bmicc.ir/">
                                                    شرکت توسعه سرمایه پیشگامان
                                                    پویا
                                                </a>
                                            </li>
                                            <li>
                                                <a class="Gray" href="http://www.mapouya.com/fa/home">
                                                    شرکت مدیریت طرح و
                                                    توسعه آینده
                                                    پویا
                                                </a>
                                            </li>
                                        </ul>

                                    </div>



                                    <div class="col-12 col-md m-2 mb-md-0">
                                        <h6 class="mb-3 font-weight-bold"></h6>

                                        <ul class="list-group list-group-flush list-group-borderless mb-4 list-group-transparent">
                                            @if (!User.Identity.IsAuthenticated)
                                            {
                                                <a class=" btn btn-sm mt-2 pointer d-none d-xl-block" href="/Auth/LoginRegister">
                                                    <span class="label-dropdown ">ورود به حساب</span>
                                                    <i class="ec ec-user mr-1"></i>
                                                </a>
                                            }
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <li>
                                                    <a class="list-group-item list-group-item-action" href="#">
                                                        <i class="fas fa-sign-out Yellow"></i> خروج
                                                    </a>
                                                </li>
                                            }

                                        </ul>
                                        <div class="mb-4">
                                            <div class="row no-gutters">
                                                <div class="col-auto">
                                                    <i class="ec ec-support text-primary font-size-50 p-2"></i>
                                                </div>
                                                <div class="col pl-3">
                                                    <div class="font-size-13 font-weight-light Yellow font-weight-bold">
                                                        پشتیبانی
                                                        شبانه روزی در هفت روز هفته!
                                                    </div>
                                                    <a href="#" class="font-size-13 text-gray-90">
                                                        تلفن: 88845200-021
                                                    </a>
                                                    <br />
                                                    <a href="#" class="font-size-13 text-gray-90">
                                                        آدرس : تهران میدان فردوسی خیابان ایرانشهر کوچه مهزاد پلاک 6
                                                    </a>
                                                    <br />
                                                    <a href="#" class="font-size-13 text-gray-90">
                                                        کدپستی : 1581643313
                                                    </a>
                                                    <br />
                                                    <a href="#" class="font-size-13 text-gray-90">
                                                        پست الکترونیکی : info@parstech.co
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-6 col-md m-2 mb-md-0 d-flex">
                                        <img width="150" height="150" src="/Shared/Images/enamad.png" alt="" />
                                        <img width="150" height="150" src="/Shared/Images/samandehi.png" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="row">
                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="d-flex mb-2 js-slick-carousel u-slick u-slick--slider-syncing u-slick--slider-syncing-size u-slick--gutters-1 u-slick--transform-off slick-initialized slick-slider slick-transform-off">
                        <div class="slick-list draggable">
                            <div class="productImage js-slide "
                                 style="cursor: pointer; width: 100px; height: auto;" data-slick-index="0">
                                <img class="img-fluid" src="/Shared/Images/MeliLogo2.png" alt="">
                            </div>
                        </div>
                        <div class="slick-list draggable">
                            <div class="productImage js-slide "
                                 style="cursor: pointer; width: 100px; height: auto;" data-slick-index="0">
                                <img class="img-fluid" src="/Shared/Images/DadevarziSadadLogo.png" alt="">
                            </div>
                        </div>
                       
                       
                        <div class="slick-list draggable">
                            <div class="productImage js-slide "
                                 style="cursor: pointer; width: 100px; height: auto;" data-slick-index="0">
                                <img class="img-fluid" src="/Shared/Images/ParsLogo.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="flex-center-between d-block d-md-flex mt-2">
                <div class="mb-3 mb-md-0" dir="rtl">
                    <a href="#" class="font-weight-bold text-black">
                        1399 - 1403 © کلیه حقوق این
                        فروشگاه برای شرکت پارس تکنولوژی سداد محفوظ است
                    </a>
                </div>

            </div>
        </div>
    </div>




</footer>