@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<main id="content" role="main">


    <div class="container">
        <div class="row">
            <partial name="Site/_PanelSideBar" />

            <div class="col-lg-9 order-lg-1">
                <div class="pb-7 mb-7">
                    <!-- Title -->
                    <div class="panel panel-warning box shadow border">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h6 class="title">

                                    دسترسی محدود
                                    <i class=" far fa-circle-user Orange "></i>
                                </h6>
                            </div><!-- /.panel-title -->
                            <div class="buttons-box toggle">
                            </div><!-- /.buttons-box -->
                        </div><!-- /.panel-heading -->
                        <div class="panel-body text-center">
                            <i class=" fas fa-fingerprint fa-big"></i>
                            <h3>دسترسی غیرمجاز</h3>
                            <h5>شما به این بخش دسترسی ندارید</h5>
                        </div><!-- /.panel-body -->
                    </div>
                    <!-- End Title -->




                </div>
            </div>
        </div>

    </div>
</main>