@page
@model Parstech.Shop.Web.Pages.Auth.LoginRegisterModel

@{
    Layout = "Shared/SiteAuth_Layout";
    ViewData["Title"] = "Log in";
}
@Html.AntiForgeryToken()





<main class="main-content dt-sl mt-4 mb-3">
    <div class="container main-container">
        <div class="row rtl">
            <div class="col-xl-4 col-lg-5 col-md-7 col-12 mx-auto">
                <div class="logo-area text-center mb-3 ">

                    <a href="/"><img src="/Shared/Images/MeliLogo.png" class="img-fluid" style="width: 70px;" alt="logo"></a>

                </div>

                <div class="auth-wrapper form-ui border pt-4 shadow-1200">
                    @*  <div class="section-title title-wide mb-1 no-after-title-wide">
                        <h2 class="font-weight-bold">ورود</h2>
                    </div> *@
                    <div class="logo-area text-center mb-3 ">
                        <a href="/"><img src="/Shared/Images/logo.png" class="img-fluid w-50" alt="logo"></a>
                    </div>
                    <div class="form">
                        <div id="Error">
                        </div>

                        
                        

                        <div id="smsSection" class="show">
                            <div class="form-row-title">
                                <h3>شماره موبایل</h3>
                            </div>
                            <div class="form-row with-icon">
                                <input type="text" id="loginmobile" class="input-ui pr-2" placeholder="شماره موبایل خود را وارد نمایید">
                                <i class="mdi mdi-account-circle-outline"></i>
                            </div>

                            <div class="form-row mt-3">
                                <button id="SubmitButton" onclick="LoginReqUser()" class="btn-primary-cm btn pointer  BgOrange btn-with-icon mx-auto w-100">
                                    <i class="mdi mdi-login-variant"></i>
                                    ورود با کد یکبار مصرف
                                </button>
                            </div>
                        </div>
                        <div id="loginSection" class="hidden">

                            @* <h5>کد تائید به شماره موبایل شما ارسال شده است.</h5> *@
                            <div class="form-group d-flex ltr">
                                <label class="sr-only">کدتائید</label>

                                <input class="form-control m-2 auth-code ltr text-center font-size-2" id="firstInput" maxlength="1">
                                <input class="form-control m-2 auth-code ltr text-center font-size-2" id="secondInput" maxlength="1">
                                <input class="form-control m-2 auth-code ltr text-center font-size-2" id="thirdInput" maxlength="1">
                                <input class="form-control m-2 auth-code ltr text-center font-size-2" id="forthInput" maxlength="1">

                            </div>

                            <div class="form-row mt-3">
                                <button onclick="LoginUser()" id="SubmitButton" class="btn-primary-cm btn pointer  BgOrange btn-with-icon mx-auto w-100">
                                    <i class="mdi mdi-login-variant"></i>
                                    تائید و ورود به فروشگاه
                                </button>
                            </div>
                            
                        </div>

                        <div class="form-row-title">
                            <h3>رمز عبور</h3>
                        </div>
                        <div class="form-row with-icon">
                            <input type="password"  id="loginPassword" class="input-ui pr-2" placeholder="رمز عبور خود را وارد نمایید">
                            <i class="mdi mdi-lock-open-variant-outline"></i>
                        </div>
                        @* <div class="form-row mt-2">
                            <div class="custom-control custom-checkbox float-right mt-2">
                                <input type="checkbox" class="custom-control-input" id="customCheck3">
                                <label class="custom-control-label" for="customCheck3">
                                    مرا به خاطر بسپار
                                </label>
                            </div>
                        </div> *@
                        <div class="form-row mt-3">
                            <button onclick="PasswordLoginUser()" class="btn-primary-cm btn pointer  BgSormei btn-with-icon mx-auto w-100">
                                <i class="mdi mdi-login-variant"></i>
                                ورود با کلمه عبور
                            </button>
                        </div>
                    </div>
                    <div class="form-footer mt-3">
                        <div>
                            <span class="font-weight-bold">میخواهید ثبت نام کنید؟</span>
                            <a href="/Auth/Register" class="mr-3 mt-2 Orange">ثبت نام در پارس تک</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Styles {
    <link href="~/shared/lib/shared/toast/toast.css" rel="stylesheet" />
    <link href="~/Admin/plugins/ladda/dist/ladda-themeless.min.css" rel="stylesheet">
    <link href="~/shared/lib/shared/toast/toast.css" rel="stylesheet" />
    <link href="~/Admin/plugins/data-table/DataTables-1.10.16/css/jquery.dataTables.css" rel="stylesheet">
    <link href="~/Admin/plugins/select2/dist/css/select2.min.css" rel="stylesheet">

    <link href="~/site/productdetail/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/site/productdetail/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/site/productdetail/main.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/shared/lib/shared/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/shared/lib/shared/toast/toast.js"></script>
    <script src="~/shared/lib/shared/toast/mytoast.js"></script>


    <script src="~/shared/lib/shared/jquery-ajax-unobtrusive/3.2.6/separate.js"></script>

    <script src="~/shared/lib/Site/Products/Detail/base.js"></script>
    <script src="~/shared/lib/admin/auth/login.js"></script>
    <!-- BEGIN PAGE JAVASCRIPT -->
    <script src="~/Admin/plugins/ladda/dist/spin.min.js"></script>
    <script src="~/Admin/plugins/ladda/dist/ladda.min.js"></script>
    <script src="~/Admin/js/pages/ladda.js"></script>

    <script src="~/shared/lib/admin/auth/loginregister.js"></script>


}
