@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Parstech.Shop.Web.Pages.Panel.UserCompareModel
@{
}
<main id="content" role="main">


    <div class="container">



        <div class="row">
            <partial name="Site/_PanelSideBar" />

            <div class="col-lg-9 order-lg-1">
                <div class="row rtl" id="compareSection">
                    


                </div>
            </div>
        </div>

    </div>
</main>




@*End Modal*@

<!--FORMS-->
<form method="post" id="GetDataForm" asp-page-handler="Data"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-complete="OnComplete">
</form>

<!--End FORMS-->
@section Styles {
    <link href="~/shared/lib/shared/toast/toast.css" rel="stylesheet" />
    <link href="~/Admin/plugins/data-table/DataTables-1.10.16/css/jquery.dataTables.css" rel="stylesheet">
}
@section Scripts {
    <script src="~/shared/lib/shared/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/shared/lib/shared/toast/toast.js"></script>
    <script src="~/shared/lib/shared/toast/mytoast.js"></script>
    <script src="~/Admin/js/pages/swal.js"></script>
    <script src="~/shared/lib/shared/jquery-ajax-unobtrusive/3.2.6/separate.js"></script>
    <script src="~/shared/lib/site/panel/usercompare.js"></script>
    <script src="~/shared/lib/site/panel/AllShared.js"></script>
}