@model Shop.Application.DTOs.Section.SectionAndDetailsDto
<div class="mb-6">
    <div class="row">

        @foreach (var item in Model.SectionDetails)
        {
            <div class="col-md-6 mb-2">
                <div class="banner " style="background-image: url(/shared/images/@item.BackgroundImage);background-size:cover">
                    <a href="@item.Link" class="w-100 bannerHeight-160 py-3 py-xl-3 py-wd-4 my-2 my-wd-1 d-inline-flex align-items-center text-gray-90">
                        
                        @if(item.Image!=null)
                        {
                            <div class="col-4 col-md-6 pr-0 pl-wd-10">
                                <img class="img-fluid" src="~/shared/images/@item.Image" alt="@item.Alt">
                            </div>
                        } 
                        @if(item.Caption!=null)
                        {
                            <div class="col-8 col-md-6 pr-xl-5 pr-wd-9">
                                <div class="mb-1 font-size-18 font-weight-light text-ls-n1 text-lh-23">
                                    <strong>جشنواره شگفت انگیز پارس تک</strong>

                                </div> <div class="mb-1 font-size-18 font-weight-light text-ls-n1 text-lh-23">
                                    <span>جشنواره شگفت انگیز پارس تک</span>
                                </div>
                                <div class="link text-gray-90" href="/">

                                    <div class="font-size-30 font-weight-bold text-lh-28">
                                        @* <sup class="mt-3">مشاهده</sup>*@
                                        <span class="link__icon ml-1">
                                            <span class="link__icon-inner"><i class="ec ec-arrow-right-categproes"></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }
                       
                        
                    </a>
                </div>
            </div>
        }

    </div>
</div>