@page
@model Shop.Web.Pages.Admin.Reports.Finanical.TransactionsModel
@{
    Layout = "Shared/Admin_Layout";
    ViewData["Title"] = "Home page";
}
@Html.AntiForgeryToken()

<div class="row">
    <div class="col-lg-12">
        <div class="portlet box border shadow">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h3 class="title">
                        <i class="icon-settings"></i>
                        گزارش تراکنشات
                    </h3>
                   
                </div>

                <div id="CreateUser" class="modal fade" role="dialog" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-bs-dismiss="modal">×</button>
                                <h4 class="modal-title">افزودن کیف پول</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p class="text-center m-t-30 m-b-40" id="image">

                                        </p>
                                    </div>

                                    <div class="col-lg-12">
                                    </div><!-- /col-lg-12 -->
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body" style="">

                <form method="post" asp-page-handler="Search" id="SerachForm"
                      data-ajax="true"
                      data-ajax-method="POST"
                      data-ajax-complete="OnComplete">
                    <input type="hidden" asp-for="parameters.CurrentPage" id="currentPage" />
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>فیلتر کاربر</label>
                                <select asp-for="parameters.UserFilter" id="userFilter" class="form-control select2">
                                    <option value="">انتخاب نشده</option>
                                    @foreach (var item in Model.Users)
                                    {
                                        <option value="@item.UserName">@item.FirstName @item.LastName</option>
                                    }
                                </select>


                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group ">
                                <label>فیلتر حساب</label>
                                <select asp-for="parameters.WalletType" id="walletType" type="text" class="form-control w-100">
                                    <option value="">انتخاب نشده</option>
                                    <option value="OrgCredit">اعتبار سازمانی</option>
                                    <option value="Fecilities">تسهیلات وام</option>
                                    <option value="Amount">کیف پول</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group ">
                                <label>فیلتر تراکنش</label>
                                <select asp-for="parameters.TransactionType" id="transactionType" type="text" class="form-control w-100">
                                    <option value="">انتخاب نشده</option>
                                    <option value=null></option>
                                    <option value=1>واریز</option>
                                    <option value=2>برداشت</option>
                                    <option value=3>در انتظار پرداخت</option>
                                    <option value=4>پرداخت موفقیت آمیز</option>
                                    <option value=5>تراکنش لغو شده</option>
                                    <option value=6>اقساط</option>
                                    <option value=7>تسویه</option>
                                    <option value=8>تسویه و شارژ مجدد</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group ">
                                <label>از تاریخ</label>
                                <input type="text" asp-for="parameters.FromDate" id="fromDate" class="has-persian-datepicker form-control">

                            </div>
                        </div><div class="col-lg-3">
                            <div class="form-group ">
                                <label>تا تاریخ</label>
                                <input type="text" asp-for="parameters.ToDate" id="toDate" class="has-persian-datepicker form-control">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group ">

                                <button type="submit" class="btn btn-blue text-white font-weight-bold">فیلتر</button>
                                <a href="#" class="btn btn-green  hover-green font-weight-bold- text-white" onclick="GenerateExcel()">دریافت اطلاعات به صورت اکسل</a>

                            </div>
                        </div>
                    </div>
                </form>


                <div class="table-responsive">

                    <div id="DataSection">
                    </div>

                    <div class="d-flex mb-2" id="paging">
                        <button onclick="RunPaging('previues')" class="btn cart-Blue btn-xs font-weight-bold ml-2">صفحه قبل</button><button onclick="RunPaging('next')" class="btn cart-Blue btn-xs font-weight-bold ml-2">صفحه بعد</button>
                    </div>
                </div><!-- /.portlet-body -->
            </div><!-- /.portlet -->


        </div>
    </div>
    <form method="post" asp-page-handler="GetData" id="GetDataForm"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-begin="OnLoading"
          data-ajax-complete="OnComplete"
          data-ajax-failure="OnError">
    </form>  
    <form method="post" asp-page-handler="Excel" id="ExcelForm">
        <input type="hidden" name="userFilter" id="exuserFilter" />
        <input type="hidden" name="walletType" id="exwalletType" />
        <input type="hidden" name="transactionType" id="extransactionType" />
        <input type="hidden" name="fromDate" id="exfromDate" />
        <input type="hidden" name="toDate" id="extoDate" />
    </form>
    @section Scripts {
        <script src="~/Shared/Lib/Shared/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/Admin/plugins/morris.js/morris.min.js"></script>
        <script src="~/Shared/Lib/Admin/Reports/Finanical/Transactions.js"></script>
        <script src="~/Shared/Lib/Shared/Toast/Toast.js"></script>
        <script src="~/Shared/Lib/Shared/Toast/MyToast.js"></script>
        <script src="~/Shared/Lib/Shared/jquery-ajax-unobtrusive/3.2.6/Separate.js"></script>
        <script src="~/Admin/plugins/select2/dist/js/select2.full.min.js"></script>
        <script src="~/Admin/plugins/select2/dist/js/i18n/fa.js"></script>
        <script src="~/Admin/js/pages/select2.js"></script>
        <script src="~/Admin/plugins/persian-date/persian-date.min.js"></script>

        <script src="~/Admin/plugins/persian-datepicker/js/persian-datepicker.min.js"></script>
        <script src="~/Admin/js/pages/calendar.js"></script>
    }

    @section Styles {
        <link href="~/Shared/Lib/Shared/Toast/Toast.css" rel="stylesheet" />
        <link href="~/Admin/plugins/select2/dist/css/select2.min.css" rel="stylesheet">
        <link href="~/Admin/plugins/persian-datepicker/css/persian-datepicker.min.css" rel="stylesheet">

    }
