@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Parstech.Shop.Web.Admin.Pages.Admin.Coupons.IndexModel
@{
	Layout = "Shared/Admin_Layout";
}

<div class="row">
	<div class="col-lg-12">
		<div class="portlet box border shadow">
			<div class="portlet-heading">
				<div class="portlet-title">
					<h3 class="title">
						<i class="icon-settings"></i>
						لیست کوپن ها
					</h3>
					@*<form method="post" asp-page-handler="Test">
						<button type="submit">sjdnckzjsdbc</button>
					</form>*@
				</div>
				<div class="buttons-box">
					<button class="btn btn-sm btn-success btn-round hover-green" onclick="CleanItem()" data-bs-toggle="modal" data-bs-target="#EditAndDeleteModal">
						<i class="icon-plus"></i>
						<div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
						<div class="paper-ripple"><div class="paper-ripple__background" style="opacity: 0.0088;"></div><div class="paper-ripple__waves"></div></div>
					</button>

				</div>
				<div id="CreateUser" class="modal fade" role="dialog" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-bs-dismiss="modal">&times;</button>
								<h4 class="modal-title">افزودن دسته بندی</h4>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-lg-12">
										<p class="text-center m-t-30 m-b-40" id="image">

										</p>
									</div>

									<div class="col-lg-12">
									</div><!-- /col-lg-12 -->
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="portlet-body" style="">
				<div class="d-flex mb-2" id="pagingHeader">
				</div>
				<div class="table-responsive">
					<div class="form-group d-flex">

						<input id="FilterInput" type="text" class="form-control w-50" placeholder="جستجوی کوپن" />
						<button onclick="Filter()" class="btn btn-blue text-white font-weight-bold">فیلتر</button>

						@*<select class="form-control w-25" placeholder="جستجوی کاربران">
						</select>
						<button class="btn btn-orange text-white font-weight-bold">فیلتر دسترسی ها</button>*@
					</div>
					<table class="table table-bordered table-hover table-striped" id="data-table">

						<thead>
							<tr>
							</tr>
						</thead>
						<tbody>
							<tr>
							</tr>

						</tbody>

					</table>

				</div>
				<div class="d-flex mb-2" id="paging">
				</div>
			</div><!-- /.portlet-body -->
			<div>
				
				
			</div>
		</div><!-- /.portlet -->


	</div>
</div>

<form method="post" id="GetDataForm" asp-page-handler="Data"
	  data-ajax="true"
	  data-ajax-method="POST"
	  data-ajax-begin="OnLoadingData"
	  data-ajax-complete="OnCompleteData"
	  data-ajax-failure="OnErrorData">
	<input type="hidden" asp-for="Parameter.Filter" id="Parameter_Filter" />
	<input type="hidden" asp-for="Parameter.CurrentPage" id="Parameter_CurrentPage" />
</form>

<form method="post" id="GetCoupon" asp-page-handler="GetCoupon"
	  data-ajax="true"
	  data-ajax-method="POST"
	  data-ajax-begin="OnLoadingGetItem"
	  data-ajax-complete="OnCompleteGetItem"
	  data-ajax-failure="OnErrorGetItem">
	<input type="hidden" asp-for="CouponId" class="CouponId" />
</form>
<form method="post" id="DeleteCoupon" asp-page-handler="DeleteCoupon"
	  data-ajax="true"
	  data-ajax-method="POST"
	  data-ajax-begin="OnLoadingDelete"
	  data-ajax-complete="OnCompleteDelete"
	  data-ajax-failure="OnErrorDelete">
	<input type="hidden" asp-for="CouponId" class="CouponId" />
</form>

<!--Start Edit Modal-->
<div id="EditAndDeleteModal" class="modal fade" role="dialog" tabindex="-1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close " data-bs-dismiss="modal">&times;</button>
				<h4 class="modal-title">اطلاعات کوپن</h4>

			</div>
			<div class="modal-body">
				<div class="col-lg-12">
					<form method="post" asp-page-handler="UpdateAndCreateCoupon" class="form-horizontal" role="form" enctype="multipart/form-data"
						  data-ajax="true"
						  data-ajax-method="POST"
						  data-ajax-begin="OnLoadingUpdate"
						  data-ajax-complete="OnCompleteUpdate"
						  data-ajax-failure="OnErrorUpdate">

						<input type="hidden" asp-for="couponDto.Id" id="couponDto_Id" />
						<div class="row">
							<div class="col-12  m-auto m-b-10">

								<label>کد کوپن:</label>
								<div class="form-group round m-auto">
									<input asp-for="couponDto.Code" id="couponDto_Code" type="text" class="form-control">
								</div>

							</div>

							<div class="col-6  m-auto m-b-10">

								<label>مبلغ تخفیف:</label>
								<div class="form-group round m-auto">
									<input asp-for="couponDto.Amount" id="couponDto_Amount" type="number" class="form-control">
								</div>

							</div>
							<div class="col-6  m-auto m-b-10">

								<label>درصد تخفیف:</label>
								<div class="form-group round m-auto">
									<input asp-for="couponDto.Persent" id="couponDto_Persent" type="number" class="form-control">
								</div>

							</div>


							<div class="col-6  m-auto m-b-10">
								<label>از قیمت (حداقل):</label>
								<div class="form-group round m-auto">
									<input asp-for="couponDto.MinPrice" id="couponDto_MinPrice" type="number" class="form-control">
								</div>
							</div>

							<div class="col-6  m-auto m-b-10">
								<label>تا قیمت (حداکثر):</label>
								<div class="form-group round m-auto">
									<input asp-for="couponDto.MaxPrice" id="couponDto_MaxPrice" type="number" class="form-control">
								</div>
							</div>

							<div class="col-6  m-auto m-b-10">
								<label>تعداد دفعات استفاده:</label>
								<div class="form-group round m-auto">
									<input asp-for="couponDto.LimitUse" id="couponDto_LimitUse" type="number" class="form-control">
								</div>
							</div>

							<div class="col-6  m-auto m-b-10">
								<label>تعداد دفعات استفاده هر کاربر:</label>
								<div class="form-group round m-auto">
									<input asp-for="couponDto.LimitEachUser" id="couponDto_LimitEachUser" type="number" class="form-control">
								</div>
							</div>

							

							<div class="col-6 m-auto m-b-10">
								<label>نوع کوپن:</label>
								<div class="form-group round m-auto">
									<select class="form-control" asp-for="couponDto.CouponTypeId" id="couponDto_Type">
										<option value="null"> نوع کوپن </option>
										@foreach (var item in Model.couponTypes)
										{
											<option value="@item.Id">@item.Type</option>
										}
									</select>

								</div>
							</div>

							<div class="col-6  m-auto m-b-10">
								<label>تاریخ انقضا:</label>
								<div class="form-group round m-auto">
									<input asp-for="couponDto.ExpireDateShamsi" id="couponDto_ExpireDateShamsi" type="text" class="has-persian-datepicker form-control">
								</div>
							</div>

							


							

							<div class="col-4  m-auto m-b-10">
								<label>دسته بندی های مجاز:</label>
								<div class="form-group round m-auto">
									<select class="form-control" asp-for="couponDto.Categury" id="couponDto_Categury">
										<option value="-"> انتخاب کنید </option>


										<option value="All">همه</option>
										<option value="Each">تعدادی از دسته بندی ها</option>

									</select>

								</div>
							</div>

							<div class="col-4  m-auto m-b-10">
								<label>محصولات مجاز:</label>
								<div class="form-group round m-auto">
									<select class="form-control" asp-for="couponDto.Products" id="couponDto_Products">
										<option value="-"> انتخاب کنید </option>

										<option value="All">همه</option>
										<option value="Each">تعدادی از محصولات</option>

									</select>

								</div>
							</div>

							<div class="col-4  m-auto m-b-10">
								<label>کاربران مجاز:</label>
								<div class="form-group round m-auto">
									<select class="form-control" asp-for="couponDto.Users" id="couponDto_Users">
										<option value="-"> انتخاب کنید </option>

										<option value="All">همه</option>
										<option value="Each">تعدادی از کاربران</option>

									</select>

								</div>
							</div>


							@*<div class="col-6  m-auto m-b-10">
								<label>محصولات غیر مجاز:</label>
								<div class="form-group round m-auto">
									<select class="form-control" asp-for="couponDto.NotProducts" id="couponDto_NotProducts">
										<option value="-"> انتخاب کنید </option>

										<option value="All">همه</option>
										<option value="Each">تعدادی از محصولات</option>

									</select>

								</div>
							</div>*@

							<div class="col-6 d-flex m-auto m-b-10">
								<label> دو استفاده همزمان </label>
								<div class="form-group m-auto">
									<input asp-for="couponDto.TwoUseSameTime" id="couponDto_TwoUseSameTime" type="checkbox" >
								</div>
							</div>
							<div class="col-6 d-flex m-auto m-b-10">
								<label> فقط کاربران جدید </label>
								<div class="form-group round m-auto">
									<input asp-for="couponDto.JustNewUser" id="couponDto_JustNewUser" type="checkbox" >
								</div>
							</div>

							<div class="col-12 m-auto m-b-10">

								<button type="submit" class="btn btn-info btn-round btn-block mb-2">
									ثبت
									<div class="paper-ripple">
										<div class="paper-ripple__background"></div>
										<div class="paper-ripple__waves"></div>
									</div>
								</button>

							</div><!-- /.col-md-8 -->
						</div>
					</form>



				</div><!-- /col-lg-12 -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
			</div>

		</div>
	</div>
</div>
<!--End Edit Modal-->
@section Styles {
	<link href="~/shared/lib/shared/toast/toast.css" rel="stylesheet" />
	<link href="~/Admin/plugins/data-table/DataTables-1.10.16/css/jquery.dataTables.css" rel="stylesheet">
	<link href="~/Admin/plugins/persian-datepicker/css/persian-datepicker.min.css" rel="stylesheet">
}
@section Scripts {
	<script src="~/shared/lib/shared/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
	<script src="~/shared/lib/shared/toast/toast.js"></script>
	<script src="~/shared/lib/shared/toast/mytoast.js"></script>
	<script src="~/Admin/plugins/persian-date/persian-date.min.js"></script>
	<script src="~/Admin/plugins/persian-datepicker/js/persian-datepicker.min.js"></script>
	<script src="~/Admin/js/pages/calendar.js"></script>
	<script src="~/Admin/plugins/data-table/js/jquery.dataTables.min.js"></script>
	<script src="~/shared/lib/shared/jquery-ajax-unobtrusive/3.2.6/separate.js"></script>
	<script src="~/Admin/js/pages/swal.js"></script>

	<script src="~/shared/lib/admin/Coupons/Index.js"></script>

}