@page
@model Shop.Web.Pages.ErrorPages.IpErrorModel

@{
    Layout = "Shared/Auth_Layout";
    ViewData["Title"] = "Log in";
}
<div class="container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="logo-con m-t-10 m-b-10">
                <img src="~/Shared/Images/logo.png" class="dark-logo center-block img-responsive" alt="logo">
                <img src="~/Shared/Images/logoWhite.png" class="light-logo center-block img-responsive" alt="logo">
            </div><!-- /.logo-con -->

            <h2 class="text-center m-b-20">وارد شوید</h2>
            <hr>
            <div>
                <div class="card">
                    <div class="card-header"></div>
                    <div class="card-body">
                        لطفا vpn خود خاموش کنید و مجددا وارد شوید
                    </div>
                </div>
            </div>
           

        </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
</div><!-- /.container-fluid -->